<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 新MySQL连接字符串 -->
    <add name="MyDb" connectionString="server=localhost;port=3306;database=TestBenchData;uid=root;pwd=123456;charset=utf8mb4;" />
  </connectionStrings>
  <appSettings>
    <add key="SerialPort" value="COM1,COM2,COM3,COM4,COM5,COM6,COM7,COM8,COM9,COM10,COM11,COM12,COM13,COM14,COM15" />
    <add key="BaudRate" value="600,1200,2400,4800,9600,14400,19200,28800,38400,56000,57600,115200,128000,256000" />
    <add key="DataBits" value="5,6,7,8" />
    <add key="Parity" value="None,Odd,Even" />
    <add key="StopBits" value="1,2" />
  </appSettings>
</configuration>
